body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dvd, .jumpscare {
    position: absolute;
    width: 100px;
}

.jumpscare {
    width: 100%;
    height: 100%;
}
