body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#container {
    position: relative;
    width: 800px;
    height: 600px;
    border: 2px solid white;
}

#dvd, #jumpscare {
    position: absolute;
    width: 100px;
}
